<div class="row rowListPackage_Page">
    <div class="col-12">
      <div class="card">
        <div class="card-header">
          <div class="namegoithauList mb-3">
            <h3 class="mt-0" >Upload files</h3>
          </div>
          <div class="filter-wapper pb-2">
            <div class="row">
              <div class="col-4">
                
                <a href="{{ domainFileTemplate + 'khoi_luong_thuc_hien_template.xlsx' }}"
                class="btn-upload btn-info mr-2 float-right">
                  <i class="fa fa-download" aria-hidden="true"></i>
                  Tải Template mẫu</a>
              </div>

            </div>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col-12 mb-2">
              <!-- <ag-grid-angular
                  *ngIf="lstCategoryContract.length"
                  style="width: 100%; height: 500px;"
                  class="ag-theme-alpine"
                  [rowData]="lstCategoryContract"
                  [defaultColDef]="defaultColDef"
                  [columnDefs]="columnDefs"
                  [gridOptions]="gridOptions"
                  [pinnedBottomRowData]="pinnedBottomRowData"
                  [overlayNoRowsTemplate]="noRowsTemplate">
              </ag-grid-angular> -->
              
            <p  class="text-sm text-danger text-center">Không có dữ liệu.</p>
            <p  class="text-sm text-warning text-center">Vui lòng chọn file để lấy dữ liệu.</p>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
  