<div class="grid">
    <div class="col-12">
        <div class="card">
            <h5>
                {{ 'Xem chi tiết đơn hàng' }}
            </h5>

            <form class="grid formgrid">
                <div class="col-4">
                    <label class="title-label">Tên Khách hàng:&nbsp;&nbsp;{{data?.account?.user?.name}}</label>
                </div>
                <div class="col-4">
                    <label class="title-label">Email:&nbsp;&nbsp;{{data?.account?.user?.email}}</label>
                </div>
                <div class="col-4">
                    <label class="title-label">Số điện thoại:&nbsp;&nbsp;{{data?.account?.user?.phoneNumber}}</label>
                </div>
                <div class="col-12">
                    <label class="title-label">Địa chỉ - Xã - Huyện - Thành Phố : &nbsp;{{data?.account?.user?.specificAddress}} - {{data?.account?.user?.village}} - {{data?.account?.user?.district}} - {{data?.account?.user?.city}}</label>
                </div> 
                <div class="col-12">
                    <p-table 
                    [value]="data"
                    [paginator]="true"
                    [scrollable]="true"
                    [rows]="filterParrams.size"
                    [showCurrentPageReport]="true"
                    [tableStyle]="{ 'min-width': '50rem' }"
                    [rowsPerPageOptions]="[10, 25, 50]">
                    <ng-template pTemplate="header">
                        <tr>
                            <th style="width: 5%">Stt</th>
                            <th class="min-w-150">Số lượng</th>
                            <th class="min-w-150">Tên sản phẩm</th>
                            <th class="min-w-150">Loại sản phẩm</th>
                            <th class="min-w-150">Giá</th>
                            <th class="min-w-300">Ảnh</th>
                            <th class="min-w-300">Thuộc tính</th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-order let-rowIndex="rowIndex">
                        <tr>
                            <td>{{ rowIndex + 1 }}</td>
                            <td>{{ order.id }}</td>
                            <td>{{ order.orderLines[0]?.quantity }}</td>
                            <td>{{ order.orderLines[0]?.item?.product?.name }}</td>
                            <td>{{ order.orderLines[0]?.item?.product?.categories[0].name }}</td>
                            <td>{{ order.orderLines[0]?.item?.product?.showedPrice  }}</td>
                            <td><img class="img-cate" src="{{ order.orderLines[0]?.item?.itemImage}}" alt="" /></td>
                            <td>{{mappedVariants}}</td>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="emptymessage">
                        <tr>
                            <td colspan="7">No customers found.</td>
                        </tr>
                    </ng-template>
                </p-table>
                </div>
               
                <div class="col-12 p_float_right">
                    <button pButton pRipple type="button" label="Quay lại" class="p-button-outlined p-button-secondary mr-2" (click)="onBack($event)">
                        <span class="pi pi-angle-left"></span>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
<p-toast></p-toast>
<p-confirmDialog class="custom-toast"></p-confirmDialog>