<div class="grid">
    <div class="col-12">
        <div class="card">
            <h5>
                {{ 'Xem chi tiết đơn hàng' }}
            </h5>

            <form class="grid formgrid">
                <div class="col-12 dp-flex">
                    <label class="title-label">Ngày thanh toán&nbsp;&nbsp;<label class="item-order">{{dataOrder?.orderDate ? (dataOrder?.orderDate | date: 'yyyy-MM-dd HH:mm:ss') : ''}}</label></label>
                </div>
                <div class="col-4">
                    <label class="title-label">Tên Khách hàng:&nbsp;&nbsp;<label class="item-order">{{dataOrder?.account?.user?.name}}</label></label>
                </div>
                <div class="col-4">
                    <label class="title-label">Email:&nbsp;&nbsp;<label class="item-order">{{dataOrder?.account?.user?.email}}</label></label>
                </div>
                <div class="col-4">
                    <label class="title-label">Số điện thoại:&nbsp;&nbsp;<label class="item-order">{{dataOrder?.account?.user?.phoneNumber}}</label></label>
                </div>
                <div class="col-12">
                    <label class="title-label">Địa chỉ nhận hàng: &nbsp;<label class="item-order">{{dataOrder?.account?.user?.specificAddress}} - {{dataOrder?.account?.user?.village}} - {{dataOrder?.account?.user?.district}} - {{dataOrder?.account?.user?.city}}</label></label>
                </div>  
                 <div class="col-12">
                    <p-table 
                    [value]="data"
                    [paginator]="true"
                    [scrollable]="true"
                    [rows]="filterParrams.size"
                    [showCurrentPageReport]="true"
                    [tableStyle]="{ 'min-width': '50rem' }"
                    [rowsPerPageOptions]="[10, 25, 50]">
                    <ng-template pTemplate="header">
                        <tr>
                            <th style="width: 5%">Stt</th>
                            <th class="min-w-100">Số lượng</th>
                            <th class="min-w-300">Tên sản phẩm</th>
                            <th class="min-w-200">Loại sản phẩm</th>
                            <th class="min-w-100">Giá</th>
                            <th class="min-w-300">Ảnh</th>
                            <th class="min-w-100">Thuộc tính</th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-order let-rowIndex="rowIndex">
                        <tr>
                            <td>{{ rowIndex + 1 }}</td>
                            <td>{{ order.quantity }}</td>
                            <td>{{ order.item?.product?.name }}</td>
                            <td>{{ order.item?.product?.categories[0].name }}</td>
                            <td>{{ order.item?.product?.showedPrice  }}</td>
                            <td><img class="img-cate" src="{{ order.item?.itemImage}}" alt="" /></td>
                            <td>{{mappedVariants}}</td>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="emptymessage">
                        <tr>
                            <td colspan="7">No customers found.</td>
                        </tr>
                    </ng-template>
                </p-table>
                </div>
                <div class="col-6">
                    <label class="title-label">Mã giảm giá:&nbsp;&nbsp;<label class="item-order">{{dataOrder?.promotionCode}}</label></label>
                </div>
                <div class="col-6">
                    <label class="title-label">Tổng tiền:&nbsp;&nbsp;<label class="item-order">{{dataOrder?.orderTotal}}</label></label>
                </div>
                <!-- <div class="col-6">
                    <label class="title-label">% Thuế VAT:&nbsp;&nbsp;<label class="item-order">{{data?.account?.user?.email}}</label></label>
                </div> -->
                <div class="col-6">
                    <label class="title-label">Tiền phí vận chuyển:&nbsp;&nbsp;<label class="item-order">{{dataOrder?.shippingPrice}}</label></label>
                </div>
                <!-- <div class="col-6">
                    <label class="title-label">% Phí dịch vụ:&nbsp;&nbsp;<label class="item-order">-{{data?.account?.user?.email}}</label></label>
                </div> -->
                <!-- <div class="col-6">
                    <label class="title-label">Tiền dịch vụ:&nbsp;&nbsp;<label class="item-order">-{{data?.account?.user?.email}}</label></label>
                </div> -->
               
                <div class="col-12 p_float_right">
                    <button pButton pRipple type="button" label="Quay lại" class="p-button-outlined p-button-secondary mr-2" (click)="onBack($event)">
                        <span class="pi pi-angle-left"></span>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
<p-toast></p-toast>
<p-confirmDialog class="custom-toast"></p-confirmDialog>