.mg-l-2{
    margin-left: 20px;
}
.dp-flex{
    display: flex;
}
.mg-select{
    width: 100%;
}
.h-100{
    height: 100%;
}
.border{
    border: 1px solid #000;
}
.col-12.border .title-chart {
    font-size: 24px;
    color: #4c84d4;
    text-align: center;
}
.box-usercount {
    display: flex;
    align-content: center;
    justify-content: space-between;
}
.w-100{
    width: 100%;
}
.xd{
    display: flex;
    flex-direction: column;
}
.pd-b-2{
    padding-bottom: 20px;
}
.span-title{
    color: #4c84d4;
    padding: 4px 0px;
}
.box-datefilter {
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
}
button.p-element.p-ripple.p-button-outlined.p-button-secondary.mr-2.p-button.p-component {
    margin-top: -16px;
    background: #ffffff;
    color: black;
}
.mb-3{
    padding-bottom: 0px;
}
.card.mb-0 {
    padding: 20px;
    
    border-radius: 12px;
}
.flex.justify-content-between.mb-3 {
    max-height: 50px;
}
span.block.text-500.font-medium.mb-3 {
    font-weight: 400 !important;
    color: #635151 !important;
    line-height: 32px;
}
.border-round {
    border-radius: 10px!important;
}
span.block.text-600.font-medium.mb-3 {
    color: #080808 !important;
    font-weight: 500;
    font-family: Helvetica, Arial, sans-serif;
}