<div class="grid">
    <div class="col-12">
        <div class="card">
            <h5>
                {{ itemProject ? 'Xem chi tiết Voucher' : 'Thêm mới Voucher' }}
            </h5>

            <form class="grid formgrid" [formGroup]="fProject">
                <div class="col-6">
                    <div class="field p-fluid">
                        <label for="txtName">Tên Voucher
                            <span class="" style="color:red">*</span>
                        </label>
                        <input id="txtName" type="text" pInputText formControlName="name" class="p-invalid">
                        <small *ngIf="fProject.controls['name'].hasError('minlength')" class="p-invalid text-danger">Tên Voucher phải tối thiểu 3 kí tự.</small>
                        <small *ngIf="fProject.controls['name'].hasError('maxlength')" class="p-invalid text-danger">Tên Voucher chỉ được tối đa 150 kí tự.</small>
                        <small *ngIf="fProject.controls['name'].hasError('required') && fProject.controls['name'].dirty" class="p-invalid text-danger">Vui lòng nhập tên Voucher.</small>
                    </div>
                </div>
                <div class="col-6">
                    <div class="field p-fluid">
                        <label for="txtCode">Giảm giá(% or VNĐ)</label>
                        <input id="txtCode" type="text" pInputText formControlName="discountRate" class="p-invalid">
                        <small *ngIf="fProject.controls['discountRate'].hasError('required') && fProject.controls['Name'].dirty" class="p-invalid text-danger">Vui lòng nhập % giảm giá.</small>
                    </div>
                </div>
                <div class="col-6">
                    <div class="field p-fluid">
                        <label for="txtPersonContact">Tổng giá trị đơn hàng tối thiểu</label>
                        <input id="txtName" type="text" pInputText formControlName="minTotalOrder">
                    </div>
                </div>
                <!-- <div class="col-6">
                    <div class="field p-fluid">
                        <label for="txtPersonContact">specificSegment</label>
                        <input id="txtName" type="text" pInputText formControlName="specificSegment">
                    </div>
                </div> -->
                <div class="col-6">
                    <div class="field p-fluid">
                        <label for="txtPersonContact">Số lượng đối đa cho một người dùng</label>
                        <input id="txtName" type="text" pInputText formControlName="maxPerUserUse">
                    </div>
                </div>
                <div class="col-6">
                    <div class="field p-fluid">
                        <label for="txtPersonContact">Số lượng tối đa voucher phát ra</label>
                        <input id="txtName" type="text" pInputText formControlName="maxDistributedVoucher">
                    </div>
                </div>
                <div class="col-6">
                    <div class="field p-fluid">
                        <label for="txtPersonContact">Số tiền giảm tối đa</label>
                        <input id="txtName" type="text" pInputText formControlName="maxTotalOrder">
                    </div>
                </div>
                <div class="col-6">
                    <div class="field p-fluid p-date">
                        <label for="txtBirthDay">Ngày bắt đầu
                            <span class=""></span>
                        </label>
                        <p-calendar id="txtBirthDay" [showIcon]="true" inputId="icon"  formControlName="startDate"  dateFormat="dd/mm/yy"></p-calendar>
                    </div>
                </div>
                <div class="col-6">
                    <div class="field p-fluid p-date">
                        <label for="txtBirthDay">Ngày kết thúc
                            <span class=""></span>
                        </label>
                        <p-calendar id="txtBirthDay" [showIcon]="true" inputId="icon"  formControlName="endDate"  dateFormat="dd/mm/yy"></p-calendar>
                    </div>
                </div>
                <div class="col-6">
                    <div class="field p-fluid">
                        <label for="txtWard">Loại Voucher</label>
                        <p-dropdown 
                            [options]="lstpromotionType" 
                            placeholder="Loại Voucher" 
                            emptyMessage="Không có dữ liệu."
                            [showClear]="true" 
                            optionLabel="Name" 
                            optionValue="Name" 
                            formControlName="promotionType">
                        </p-dropdown>
                    </div>
                </div>
                <div class="col-6">
                    <div class="field p-fluid">
                        <label for="txtWard">Loại giảm giá</label>
                        <p-dropdown 
                            [options]="lstdiscountType" 
                            placeholder="Loại giảm giá" 
                            emptyMessage="Không có dữ liệu."
                            [showClear]="true" 
                            optionLabel="Name" 
                            optionValue="Name" 
                            formControlName="discountType">
                        </p-dropdown>
                    </div>
                </div>
                <div class="col-12">
                    <div class="field p-fluid ">
                        <label for="txtNote">Mô tả</label>
                        <span class="" style="color:red">*</span>
                        <textarea id="txtNote" rows="5" pInputTextarea formControlName="description"></textarea>
                        <small *ngIf="fProject.controls['description'].hasError('minlength')" class="p-invalid text-danger">Mô tả phải tối thiểu 6 kí tự.</small>
                        <small *ngIf="fProject.controls['description'].hasError('maxlength')" class="p-invalid text-danger">Mô tả chỉ được tối đa 300 kí tự.</small>
                        <small *ngIf="fProject.controls['description'].hasError('required') && fProject.controls['description'].dirty" class="p-invalid text-danger">Vui lòng nhập mô tả.</small>
                    </div>
                </div>
                <div class="col-12 p_float_right">
                    <button pButton pRipple type="button" label="Quay lại" class="p-button-outlined p-button-secondary mr-2" (click)="onBack($event)">
                        <span class="pi pi-angle-left"></span>
                    </button>
                    <p-button label="Xác nhận" icon="pi pi-check" type="submit" [loading]="loading[0]" (onClick)="onSubmit()"></p-button>
                </div>
            </form>
        </div>
    </div>
</div>
<p-toast></p-toast>
<p-confirmDialog class="custom-toast"></p-confirmDialog>