<div class="grid">
    <div class="col-12">
        <div class="card">
            <h5>
                {{ itemProject ? 'Xem chi tiết Voucher' : 'Thêm mới Voucher' }}
            </h5>

            <form class="grid formgrid" [formGroup]="fProject">
                <div class="col-6">
                    <div class="field p-fluid">
                        <label for="txtName">Tên Voucher
                            <span class=""></span>
                        </label>
                        <input id="txtName" type="text" pInputText formControlName="name" class="p-invalid">
                        <small *ngIf="fProject.controls['name'].hasError('minlength')" class="p-invalid text-danger">Tên Voucher phải tối thiểu 3 kí tự.</small>
                        <small *ngIf="fProject.controls['name'].hasError('maxlength')" class="p-invalid text-danger">Tên Voucher chỉ được tối đa 150 kí tự.</small>
                        <small *ngIf="fProject.controls['name'].hasError('required') && fProject.controls['name'].dirty" class="p-invalid text-danger">Vui lòng nhập tên Voucher.</small>
                    </div>
                </div>
                <div class="col-6">
                    <div class="field p-fluid">
                        <label for="txtCode">% giảm giá</label>
                        <input id="txtCode" type="text" pInputText formControlName="discountRate" class="p-invalid">
                        <small *ngIf="fProject.controls['discountRate'].hasError('required') && fProject.controls['Name'].dirty" class="p-invalid text-danger">Vui lòng nhập % giảm giá.</small>
                    </div>
                </div>
                <div class="col-6">
                    <div class="field p-fluid">
                        <label for="txtPersonContact">minTotalOrder</label>
                        <input id="txtName" type="text" pInputText formControlName="minTotalOrder">
                    </div>
                </div>
                <div class="col-6">
                    <div class="field p-fluid">
                        <label for="txtPersonContact">maxTotalOrder</label>
                        <input id="txtName" type="text" pInputText formControlName="maxTotalOrder">
                    </div>
                </div>
                <div class="col-6">
                    <div class="field p-fluid">
                        <label for="txtDistrict">Ngày bắt đầu</label>
                        <span class=""></span>
                        <div class='input-group date' id='datetimepicker1'>
                            <input formControlName="startDate" type='datetime-local' class="form-control"/>
                        </div>
                    </div>
                </div> 
                <div class="col-6">
                    <div class="field p-fluid">
                        <label for="txtDistrict">Ngày kết thúc</label>
                        <span class=""></span>
                        <div class='input-group date' id='datetimepicker2'>
                            <input formControlName="endDate" type='datetime-local' class="form-control"/>
                        </div>
                    </div>
                </div> 
                <div class="col-6">
                    <div class="field p-fluid">
                        <label for="txtWard">Loại Voucher</label>
                        <p-dropdown 
                            [options]="lstpromotionType" 
                            placeholder="Loại Voucher" 
                            emptyMessage="Không có dữ liệu."
                            [showClear]="true" 
                            optionLabel="Name" 
                            optionValue="Name" 
                            formControlName="promotionType">
                        </p-dropdown>
                    </div>
                </div>
                <div class="col-6">
                    <div class="field p-fluid">
                        <label for="txtWard">Loại giảm giá</label>
                        <p-dropdown 
                            [options]="lstdiscountType" 
                            placeholder="Loại giả giá" 
                            emptyMessage="Không có dữ liệu."
                            [showClear]="true" 
                            optionLabel="Name" 
                            optionValue="Name" 
                            formControlName="discountType">
                        </p-dropdown>
                    </div>
                </div>
                <div class="col-12">
                    <div class="field p-fluid ">
                        <label for="txtNote">Mô tả</label>
                        <textarea id="txtNote" rows="5" pInputTextarea formControlName="description"></textarea>
                    </div>
                </div>
                <div class="col-12 p_float_right">
                    <p-confirmPopup></p-confirmPopup>
                    <button pButton pRipple type="button" label="Quay lại" class="p-button-outlined p-button-secondary mr-2" (click)="onBack($event)">
                        <span class="pi pi-angle-left"></span>
                    </button>
                    <p-button label="Thêm mới" icon="pi pi-plus" type="submit" [loading]="loading[0]" (onClick)="onSubmit()"></p-button>
                </div>
            </form>
            
            
            
            
        </div>
    </div>
</div>