.w-100{
    width: 100%;
}
img.img-thumbnail.zoomable-image {
    height: 100px;
    width: auto;
}
.mg-t-2{
    margin-top: 20px;
}
i.fa.fa-times-circle.del-img {
    position: absolute;
    top: 0;
    left: 0;
}
.btn-tb{
    background: #74cd5a;
    padding: 4px 16px;
    color: white;
}
.mg2{
    margin: 20px 0px;
}