<div class="grid">
    <div class="col-12">
        <div class="card">
            <h5>Quản lý đơn hàng</h5>
            <!-- <section class="FilterProject">
                <div class="textFilterProj">
                    <div class="addProjectList">
                        <a href="#/category/order/create" class="mg-l-9"><i class="fa fa-plus-circle"
                            aria-hidden="true"></i> Thêm mới</a>
                    </div>
                </div>
            </section> -->
            <div class="grid formgrid" [formGroup]="fOrder">
                <!-- <div class="textFilterProj col-4">
                    <span>Tìm kiếm</span>
                    <div class="formSearchText w-100">
                        <input type="text" placeholder="Tìm kiếm theo mã, tên tòa nhà... " name="searchProject" [(ngModel)]="search" 
                        (keyup.Enter)="onSearch($event)" (keyup)="isInputEmpty = search === ''" value="" class="StextSingle_Project" [ngModelOptions]="{standalone: true}">
                        <button class="iconbtnSearch"  *ngIf="!isInputEmpty"><span class="pi pi-times mg-t-10" style="font-size: 1rem" (click)="onClearInput()"></span></button>
                    </div>
                </div> -->
                <div class="textFilterProj mg-select col-6">
                    <p-dropdown
                        [options]="lstStatus"
                        placeholder="Trạng thái"
                        emptyMessage="Không có dữ liệu."
                        [showClear]="true"
                        formControlName="Status"
                        optionLabel="code"
                        optionValue="code"
                        (onChange)="onSelect($event)">
                    </p-dropdown>
                </div>
                <div class="col-3">
                    <div class="field p-fluid p-date">
                        <p-calendar id="txtBirthDay" placeholder="Ngày bắt đầu" [showIcon]="true" formControlName="startDate" inputId="icon"  dateFormat="dd/mm/yy"></p-calendar>
                    </div>
                </div>
                <div class="col-3">
                    <div class="field p-fluid p-date">
                        <p-calendar id="txtBirthDay" placeholder="Ngày kết thúc" [showIcon]="true" formControlName="endDate" inputId="icon"  dateFormat="dd/mm/yy"></p-calendar>
                    </div>
                </div>
            </div>            
         
            <p-table 
            [value]="lstOrder"
            [paginator]="true"
            [scrollable]="true"
            [rows]="filterParrams.size"
            [showCurrentPageReport]="true"
            [tableStyle]="{ 'min-width': '50rem' }"
            currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
            [rowsPerPageOptions]="[10, 25, 50]">
            <ng-template pTemplate="header">
                <tr>
                    <th style="width: 5%">Stt</th>
                    <th class="min-w-90">Mã đơn</th>
                    <!-- <th class="min-w-300">Địa chỉ</th> -->
                    <th class="min-w-100">Phương thức thanh toán</th>
                    <!-- <th class="min-w-300">Note</th> -->
                    <th class="min-w-200">Ngày đặt hàng</th>
                    <th class="min-w-100">Tổng tiền</th>
                    <th class="min-w-100">Đã thanh toán</th>
                    <th class="min-w-150">Trạng thái</th>
                    <!-- <th class="min-w-150">Mã CTKM</th> -->
                    <!-- <th class="min-w-150">Phí ship</th> -->
                    <th class="min-w-150">Thao tác</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-order let-rowIndex="rowIndex">
                <tr>
                    <td>{{ rowIndex + 1 }}</td>
                    <td>{{ order.id }}</td>
                    <!-- <td>{{ order.deliveryAddress }}</td> -->
                    <td>{{ order.method }}</td>
                    <!-- <td>{{ order.note }}</td> -->
                    <td>{{ order.orderDate ? (order.orderDate | date: 'yyyy-MM-dd HH:mm:ss') : '' }}</td>
                    <td>{{ order.orderTotal }}</td>
                    <td>{{ order.paidPrice}}</td>
                    <td>{{ order.orderStatus }}</td>
                    <!-- <td>{{ order.promotionCode}}</td> -->
                    <!-- <td>{{ order.shippingPrice }}</td> -->
                    <td class="td-tt">
                        <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2 pd-1" routerLink="/category/order/view-detail/{{order.id}}"></button>
                        <p-dropdown
                            class="pd-1"
                            [options]="lstStatus"
                            placeholder="Trạng thái"
                            emptyMessage="Không có dữ liệu."
                            [showClear]="true"
                            optionLabel="code"
                            optionValue="code"
                            (onChange)="onChangeStatus($event,order.id)">
                        </p-dropdown>
                    </td>
                </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage">
                <tr>
                    <td colspan="7">No customers found.</td>
                </tr>
            </ng-template>
        </p-table>
        </div>
    </div>
</div>
<p-toast></p-toast>
<p-confirmDialog class="custom-toast"></p-confirmDialog>