<div class="grid">
    <div class="col-12">
        <div class="card">
            <h5>Danh sách voucher</h5>
            <section class="FilterProject">
                <div class="textFilterProj">
                    <div class="addProjectList">
                        <a href="#/category/campaign/create" class="mg-l-9"><i class="fa fa-plus-circle"
                            aria-hidden="true"></i> Thêm mới</a>
                    </div>
                </div>
            </section>
            <p-table 
                [value]="lstCampaign"
                [paginator]="true"
                [rows]="filterParrams.size"
                [showCurrentPageReport]="true"
                [tableStyle]="{ 'min-width': '50rem' }"
                currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                [rowsPerPageOptions]="[10, 25, 50]">
                <ng-template pTemplate="header">
                    <tr>
                        <th style="width: 3%">
                            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                        </th>
                        <th style="width: 5%">Stt</th>
                        <th style="width: 20%">Tên Voucher</th>
                        <th style="width: 15%">Loại Voucher</th>
                        <th style="width: 10%">% giảm giá</th>
                        <th style="width: 10%">Ngày bắt đầu</th>
                        <th style="width: 10%">Ngày kết thúc</th>
                        <th style="width: 10%">Kích hoạt</th>
                        <th style="width: 15%">Thao tác</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-project let-rowIndex="rowIndex">
                    <tr>
                        <td>
                            <p-tableCheckbox [value]="project"></p-tableCheckbox>
                        </td>
                        <td>{{ rowIndex + 1 }}</td>
                        <td>{{ project.name }}</td>
                        <td>{{ project.name }}</td>
                        <td>{{ project.name }}</td>
                        <td>{{ project.name }}</td>
                        <td>{{ project.name }}</td>
                        <td>{{ project.name }}</td>
                        <!-- <td>{{ project.startDate ? (project.startDate | date: 'dd/MM/yyyy') : '' }} - {{ project.startDate ? (project.startDate | date:'shortTime') : '' }}</td>
                        <td>{{ project.endDate ? (project.endDate | date: 'dd/MM/yyyy') : '' }} - {{ project.endDate ? (project.endDate | date:'shortTime') : '' }}</td>                 -->
                        <!-- <td>
                            <span *ngIf="project.active==true"><i class="pi pi-check" style="color: rgb(25, 25, 184);"></i></span>
                            <span *ngIf="project.active==false"><i class="pi pi-times" style="color:red"></i></span>
                        </td> -->
                        <td>
                            <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2" routerLink="/category/project/upload/{{project.id}}"></button>
                            <!-- <button pButton pRipple icon="pi pi-unlock" class="p-button-rounded p-button-success mr-2" (click)="activePromotion(project.id)"></button>
                            <button pButton pRipple icon="pi pi-lock" class="p-button-rounded  mr-2" (click)="deadactivePromotion(project.id)"></button> -->
                            <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning" (click)="onDelete(project)"></button>
                        </td>
                    </tr>
                </ng-template>
                <!-- <ng-template pTemplate="paginatorleft">
                    <p-button type="button" icon="pi pi-plus" styleClass="p-button-text"></p-button>
                </ng-template>
                <ng-template pTemplate="paginatorright">
                    <p-button type="button" icon="pi pi-cloud" styleClass="p-button-text"></p-button>
                </ng-template> -->
                <ng-template pTemplate="emptymessage">
                    <tr>
                        <td colspan="7">No customers found.</td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>
</div>
<p-toast></p-toast>
<p-confirmDialog class="custom-toast"></p-confirmDialog>