button.btn-check {
    background: #5dc8eb;
    color: #000000;
    border-radius: 15px;
    border: none;
}
button.btn-uncheck {
    background: #d7f5fe;
    color: #000000;
    border-radius: 15px;
    border: none;
}