<div class="grid">
    <div class="col-12">
        <div class="card">
            <h5>Danh sách chiến dịch</h5>
            <section class="FilterProject">
                <div class="textFilterProj">
                    <div class="addProjectList">
                        <a href="#/category/campaign/create" class="mg-l-9"><i class="fa fa-plus-circle"
                            aria-hidden="true"></i> Thêm mới</a>
                    </div>
                </div>
            </section>
            <p-table 
                [value]="lstCampaign"
                [paginator]="true"
                [rows]="filterParrams.size"
                [showCurrentPageReport]="true"
                [tableStyle]="{ 'min-width': '50rem' }"
                currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                [rowsPerPageOptions]="[10, 25, 50]">
                <ng-template pTemplate="header">
                    <tr>
                        <th style="width: 5%">Stt</th>
                        <th style="width: 10%">Đổi trạng thái</th>
                        <th style="width: 20%">Tên Campaign</th>
                        <th style="width: 10%">Qualification</th>
                        <th style="width: 15%">Trạng thái</th>
                        <th style="width: 10%">Channel</th>
                        <th style="width: 10%">forAll</th>
                        <th style="width: 10%">Ngày tạo</th>
                        <th style="width: 15%">Thao tác</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-campaign let-rowIndex="rowIndex">
                    <tr>
                        <td>{{ rowIndex + 1 }}</td>
                        <td>
                            <button *ngIf="campaign.status == 'RUNNING'" class="btn-check" (click)="StopStatus(campaign.id)">STOP</button>
                            <button *ngIf="campaign.status == 'APPROVAL_PENDING'" class="btn-check" (click)="ApproveStatus(campaign.id)">APPROVE</button>
                            <button *ngIf="campaign.status != 'APPROVAL_PENDING' && campaign.status != 'RUNNING'" class="btn-uncheck" (click)="CantChange()">{{campaign.status}}</button>
                        </td>
                        <td>{{ campaign.name }}</td>
                        <td>{{ campaign.qualification }}</td>
                        <td>{{ campaign.status }}</td>
                        <td>{{ campaign.channel }}</td>
                        <td>
                            <span *ngIf="campaign.forAll==true"><i class="pi pi-check" style="color: rgb(25, 25, 184);"></i></span>
                            <span *ngIf="campaign.forAll==false"><i class="pi pi-times" style="color:red"></i></span>
                        </td>
                        <td>{{ campaign.createTime ? (campaign.creaTime | date: 'yyyy-MM-dd HH:mm:ss') : ''}}</td>
                        <td>
                            <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2" routerLink="/category/campaign/upload/{{campaign.id}}"></button>
                            <!-- <button pButton pRipple icon="pi pi-eye" class="p-button-rounded p-button-success mr-2" routerLink="/category/campaign/view/{{campaign.id}}"></button> -->
                            <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning" (click)="onDelete(campaign)"></button>
                            <button pButton pRipple icon="pi pi-eye" class="p-button-rounded p-button-warning" (click)="onOpenDialog(campaign.id)"></button>
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="emptymessage">
                    <tr>
                        <td colspan="7">No customers found.</td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>
</div>
<p-toast></p-toast>
<p-confirmDialog class="custom-toast"></p-confirmDialog>