<div class="grid">
    <div class="col-12">
        <div class="card" [formGroup]="fAddress">
            <h5>
                {{ itemAddress ? 'Thêm mới tầng' : 'Xem chi tiết tầng' }}
            </h5>

            <div class="grid formgrid" >
                <div class="col-12">
                    <div class="field p-fluid">
                        <label for="txtName">Mã vị trí
                            <span class=""></span>
                        </label>
                        <input id="txtName" type="text" pInputText formControlName="Code">
                        
                    </div>
                </div>            
                <div class="col-12">
                    <div class="field p-fluid">
                        <label for="txtName">Tên vị trí
                            <span class=""></span>
                        </label>
                        <input id="txtName" type="text" pInputText formControlName="Name">
                    </div>
                </div>            
                <div class="col-12">
                    <div class="field p-fluid">
                        <div>
                            <label for="txtAddress">Mô tả</label>
                        </div>
                        <textarea id="txtNote" class="w-100" rows="5" pInputTextarea formControlName="Note"></textarea>
                    </div>
                </div>

                <div class="col-12 p_float_right">
                    <button pButton pRipple type="button" label="Quay lại" class="p-button-outlined p-button-secondary mr-2" (click)="onBack()">
                        <span class="pi pi-angle-left"></span>
                    </button>
                    <p-button label="Thêm mới" icon="pi pi-plus" [loading]="loading[0]" (onClick)="onSubmit()"></p-button>
                </div>
            </div>
        </div>
    </div>
</div>


