<div class="grid">
    <div class="col-12">
        <div class="card">
            <h4>Danh sách tòa nhà</h4>
            <div class="textFilterProj">
                <span>Tìm kiếm</span>
                <div class="formSearchText w-30">
                    <input type="text" placeholder="Tìm kiếm mã, tên hiển thị... " name="searchProject" value="" class="StextSingle_Project" >
                    <button class="iconbtnSearch"><i _ngcontent-wsc-c163="" aria-hidden="true" class="fa fa-search"></i></button>
                </div>
                
            </div>
            <div class="allSelectFilter displayflex" [formGroup]="fSearch">
                <!-- <div class="itemSelectFilter">
                    <p-dropdown [options]="urbanAreas" [(ngModel)]="selectedUrbanArea" optionLabel="name" placeholder="Chọn khu đô thị" 
                    (onChange)="getFloorsByUrbanArea()"></p-dropdown>
                </div>  -->
                <div class="col-3 pd-0">
                    <div class="field p-fluid">
                        <label for="txtDistrict">Khu đô thị</label>
                        <p-dropdown
                            [options]="lstProject"
                            placeholder="Khu đô thị" 
                            emptyMessage="Không có dữ liệu."
                            [showClear]="true" 
                            formControlName="ProjectId" 
                            optionLabel="Name"
                            optionValue="ProjectId"
                            (onChange)="onSelect($event)">
                        </p-dropdown>                      
                    </div>
                </div>                        
                <div class="col-3">
                    <div class="field p-fluid">
                        <label for="txtDistrict">Tòa nhà</label>
                        <p-dropdown
                            [options]="lstFloor"
                            placeholder="Tòa nhà" 
                            emptyMessage="Không có dữ liệu."
                            [showClear]="true" 
                            formControlName="TowerId" 
                            optionLabel="TowerName"
                            optionValue="TowerId"
                            (onChange)="onSelectTower($event)">
                        </p-dropdown>                      
                    </div>
                </div>                        
                <div class="col-3">
                    <div class="field p-fluid">
                        <label for="txtDistrict">Vị trí</label>
                        <p-dropdown
                            [options]="lstFloor"
                            placeholder="Vị trí" 
                            emptyMessage="Không có dữ liệu."
                            [showClear]="true" 
                            formControlName="Address" 
                            optionLabel="Address"
                            optionValue="Address"
                            (onChange)="onSelect($event)">
                        </p-dropdown>                      
                    </div>
                </div>                        
            </div>
            
        </div>
    </div>
</div>
<div class="grid">
    <div class="col-12">
        <div class="card">            
            <section class="FilterProject">
                <div class="textFilterProj">
                    <div class="addProjectList">
                        <a href=""><i class="fa fa-plus-circle"
                                aria-hidden="true"></i> Hành động</a>
                        <a href="#/category/floor/create/0" class="mg-l-9"><i class="fa fa-plus-circle"
                            aria-hidden="true"></i> Thêm mới</a>
                    </div>
                    <div class="addProjectList mr-1">
                        <a class="mr-2" >
                            <i class="ft-download" aria-hidden="true"></i>
                            Tải xuống</a>
                        <a class="mr-2" href="#/category/floor/upload">
                            <i class="ft-upload" aria-hidden="true" ></i>
                            Tải lên</a>
                    </div>
                </div>
            </section>

            <p-table 
                [value]="lstFloor"
                [paginator]="true"
                [rows]="10"
                [showCurrentPageReport]="true"
                [tableStyle]="{ 'min-width': '50rem' }"
                currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                [rowsPerPageOptions]="[10, 25, 50]">
                <ng-template pTemplate="header">
                    <tr>
                        <th style="width: 3%">
                            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                        </th>
                        <th style="width: 5%">Stt</th>
                        <th style="width: 10%">Mã tầng</th>
                        <th style="width: 25%">Tên hiển thị</th>
                        <th style="width: 20%">Tòa nhà</th>
                        <th style="width: 15%">Vị trí</th>
                        <th style="width: 10%">Khu đô thị</th>
                        <th style="width: 25%">Thao tác</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-floor let-rowIndex="rowIndex">
                    <tr>
                        <td>
                            <p-tableCheckbox [value]="floor"></p-tableCheckbox>
                        </td>
                        <td>{{ rowIndex + 1 }}</td>
                        <td>{{ floor.Code }}</td>
                        <td>{{ floor.Name }}</td>
                        <td>{{ floor.TowerName }}</td>
                        <td>{{ floor.Address}}</td>
                        <td>{{ floor.ProjectName }}</td>
                        <td>
                            <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2" routerLink="/category/floor/create/{{ floor.Code }}" ></button>
                            <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning" ></button>
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="emptymessage">
                    <tr>
                        <td colspan="7">No customers found.</td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>
</div>
