<div class="grid">
    <div class="col-12">
        <div class="card">
            <h5>
                {{ itemProject ? 'Xem chi tiết Voucher' : 'Thêm mới Voucher' }}
            </h5>

            <form class="grid formgrid" [formGroup]="fCampaign">
                <div class="col-6">
                    <div class="field p-fluid">
                        <label for="txtWard">channel</label>
                        <p-dropdown 
                            [options]="lstChanel" 
                            placeholder="Chọn Channel" 
                            emptyMessage="Không có dữ liệu."
                            [showClear]="true" 
                            optionLabel="Name" 
                            optionValue="Name" 
                            formControlName="channel">
                        </p-dropdown>
                    </div>
                </div>
                <div class="col-6">
                    <div class="field p-fluid">
                        <label for="txtName">Tên Campaign
                            <span class="" style="color:red">*</span>
                        </label>
                        <input id="txtName" type="text" pInputText formControlName="name" class="p-invalid">
                        <small *ngIf="fCampaign.controls['name'].hasError('required') && fCampaign.controls['name'].dirty" class="p-invalid text-danger">Vui lòng nhập tên Campaign.</small>
                    </div>
                </div>
                <div class="col-6">
                    <div class="field p-fluid">
                        <label for="txtWard">qualification</label>
                        <p-dropdown 
                            [options]="lstQualification" 
                            placeholder="Loại qualification" 
                            emptyMessage="Không có dữ liệu."
                            [showClear]="true" 
                            optionLabel="Name" 
                            optionValue="Name" 
                            formControlName="qualification"
                            (onChange)="onQualificationChange($event.value)">>
                        </p-dropdown>
                    </div>
                </div>
                <div class="col-6">
                    <div class="field p-fluid">
                        <label for="txtCode">ForAll</label>
                        <input formControlName="forAll" class="form-check-input mg-l-2" type="checkbox" value="false" id="forAll">
                    </div>
                </div>
                <!-- who -->
                <div class="col-12"><h4>Who</h4></div>
                <form class="grid formgrid col-12" formGroupName="who">
                    <div class="col-6">
                        <div class="field p-fluid">
                            <label for="txtCode">filter by property</label>
                            <input formControlName="isAllUser" (change)="ChangeisAllUser()" class="form-check-input mg-l-2" type="checkbox" value="false" id="isAllUser">
                        </div>
                    </div>
                    <form class="grid formgrid col-12" formGroupName="liveEvent" *ngIf="liveEventVisible">
                        <span class="col-12" style="font-weight: 600;color:blue;font-size: 30px;">LiveEvent</span>
                        <div class="col-6">
                            <div class="field p-fluid">
                                <label for="txtWard">eventName</label>
                                <p-dropdown 
                                    [options]="lstEventname" 
                                    placeholder="Select an event" 
                                    emptyMessage="No data available."
                                    [showClear]="true" 
                                    formControlName="eventName"
                                    (onChange)="getlistProperties($event.value)">
                                </p-dropdown>
                              </div>
                        </div>
                        <div class="col-6">
                            <div class="field p-fluid">
                                <label for="txtWard">eventProperty</label>
                                <p-dropdown 
                                    [options]="lstProperty" 
                                    placeholder="Select an event" 
                                    emptyMessage="No data available."
                                    [showClear]="true" 
                                    formControlName="eventProperty"
                                    (onChange)="getlistValues($event.value)"
                                   >
                                </p-dropdown>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="field p-fluid">
                                <label for="txtNameContacts">value</label>
                                    <p-multiSelect
                                        [options]="lstValues"
                                        [showClear]="true"
                                        placeholder="Chọn value"
                                        emptyMessage="Không có dữ liệu."
                                        [(ngModel)]="valueData"
                                        [ngModelOptions]="{ standalone: true }"
                                    ></p-multiSelect>
                            </div>
                        </div>
                        <!-- <div class="col-6">
                            <div class="field p-fluid">
                                <label for="txtWard">value</label>
                                <p-dropdown 
                                    [options]="lstValues" 
                                    placeholder="Select an event" 
                                    emptyMessage="No data available."
                                    [showClear]="true" 
                                    formControlName="value"
                                   >
                                </p-dropdown>
                            </div>
                        </div> -->
                    </form>
                    <form class="grid formgrid col-12"  formGroupName="userDid" *ngIf="isAllUser==true">
                        <span class="col-12" style="font-weight: 600;color:blue;font-size: 30px;">UserDid</span>
                        <div class="col-6">
                            <div class="field p-fluid p-date">
                                <label for="txtBirthDay">startDate
                                    <span class=""></span>
                                </label>
                                <p-calendar id="txtBirthDay" [showIcon]="true" [showButtonBar]="true" inputId="icon"  formControlName="startTime"  dateFormat="dd/mm/yy"></p-calendar>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="field p-fluid p-date">
                                <label for="txtBirthDay">endDate
                                    <span class=""></span>
                                </label>
                                <p-calendar id="txtBirthDay" [showIcon]="true" [showButtonBar]="true" inputId="icon"  formControlName="endTime"  dateFormat="dd/mm/yy"></p-calendar>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="field p-fluid">
                                <label for="txtWard">eventName</label>
                                <p-dropdown 
                                    [options]="lstEventname" 
                                    placeholder="Select an event" 
                                    emptyMessage="No data available."
                                    [showClear]="true" 
                                    formControlName="eventName"
                                    (onChange)="getlistProperties($event.value)">
                                </p-dropdown>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="field p-fluid">
                                <label for="txtWard">eventProperty</label>
                                <p-dropdown 
                                    [options]="lstProperty" 
                                    placeholder="Select an event" 
                                    emptyMessage="No data available."
                                    [showClear]="true" 
                                    formControlName="eventProperty"
                                    (onChange)="getlistValues($event.value)"
                                   >
                                </p-dropdown>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="field p-fluid">
                                <label for="txtWard">TypeCompare</label>
                                <p-dropdown 
                                    [options]="lstTypeCompareUser" 
                                    placeholder="" 
                                    emptyMessage="Không có dữ liệu."
                                    [showClear]="true" 
                                    optionLabel="Name" 
                                    optionValue="Name" 
                                    formControlName="typeCompare"
                                   >
                                </p-dropdown>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="field p-fluid">
                                <label for="txtNameContacts">value</label>
                                    <p-multiSelect
                                        [options]="lstValues"
                                        [showClear]="true"
                                        placeholder="Chọn value"
                                        emptyMessage="Không có dữ liệu."
                                        [(ngModel)]="valueUserDid"
                                        [ngModelOptions]="{ standalone: true }"
                                    ></p-multiSelect>
                            </div>
                        </div>
                        <!-- <div class="col-6">
                            <div class="field p-fluid">
                                <label for="txtWard">value</label>
                                <p-dropdown 
                                    [options]="lstValues" 
                                    placeholder="" 
                                    emptyMessage="Không có dữ liệu."
                                    [showClear]="true" 
                                    formControlName="value"
                                   >
                                </p-dropdown>
                            </div>
                        </div> -->
                        <div class="col-4">
                            <div class="field p-fluid">
                                <label for="txtWard">Where</label>
                                <p-dropdown 
                                    [options]="lstCount" 
                                    placeholder="" 
                                    emptyMessage="Không có dữ liệu."
                                    [showClear]="true" 
                                    optionLabel="name" 
                                    optionValue="name" 
                                    >
                                </p-dropdown>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="field p-fluid">
                                <label for="txtWard">TypeCondition</label>
                                <p-dropdown 
                                    [options]="lstTypeCondition" 
                                    placeholder="" 
                                    emptyMessage="Không có dữ liệu."
                                    [showClear]="true" 
                                    optionLabel="name" 
                                    optionValue="value" 
                                    formControlName="typeCondition"
                                    >
                                </p-dropdown>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="field p-fluid">
                                <label for="txtNameContacts">Nhập giá trị</label>
                                <span class="text-danger"></span>
                                <input id="txtNameContacts" type="number" pInputText formControlName="value" >
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="field p-fluid">
                                <label for="txtWard">typeCombine</label>
                                <p-dropdown 
                                    [options]="lstTypeCompare" 
                                    placeholder="" 
                                    emptyMessage="Không có dữ liệu."
                                    [showClear]="true" 
                                    optionLabel="Name" 
                                    optionValue="Name" 
                                    formControlName="typeCombine"
                                    >
                                </p-dropdown>
                            </div>
                        </div>
                    </form>
                    <form class="grid formgrid col-12" formGroupName="userNotDo" *ngIf="isAllUser==true">
                        <span class="col-12" style="font-weight: 600;color:blue;font-size: 30px;">UserNotDid</span>
                        <div class="col-6">
                            <div class="field p-fluid p-date">
                                <label for="txtBirthDay">startDate
                                    <span class=""></span>
                                </label>
                                <p-calendar id="txtBirthDay" [showButtonBar]="true" [showIcon]="true" inputId="icon"  formControlName="startTime"  dateFormat="dd/mm/yy"></p-calendar>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="field p-fluid p-date">
                                <label for="txtBirthDay">endDate
                                    <span class=""></span>
                                </label>
                                <p-calendar id="txtBirthDay" [showButtonBar]="true" [showIcon]="true" inputId="icon"  formControlName="endTime"  dateFormat="dd/mm/yy"></p-calendar>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="field p-fluid">
                                <label for="txtWard">eventName</label>
                                <p-dropdown 
                                    [options]="lstEventname" 
                                    placeholder="" 
                                    emptyMessage="Không có dữ liệu."
                                    [showClear]="true" 
                                    formControlName="eventName"
                                    (onChange)="getlistProperties($event.value)">
                                </p-dropdown>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="field p-fluid">
                                <label for="txtWard">eventProperty</label>
                                <p-dropdown 
                                    [options]="lstProperty" 
                                    placeholder="" 
                                    emptyMessage="Không có dữ liệu."
                                    [showClear]="true" 
                                    formControlName="eventProperty"
                                    (onChange)="getlistValues($event.value)"
                                   >
                                </p-dropdown>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="field p-fluid">
                                <label for="txtWard">TypeCompare</label>
                                <p-dropdown 
                                    [options]="lstTypeCompareUser" 
                                    placeholder="" 
                                    emptyMessage="Không có dữ liệu."
                                    [showClear]="true" 
                                    optionLabel="Name" 
                                    optionValue="Name" 
                                    formControlName="typeCompare"
                                   >
                                </p-dropdown>
                            </div>
                        </div>
                        <!-- <div class="col-6">
                            <div class="field p-fluid">
                                <label for="txtWard">value</label>
                                <p-dropdown 
                                    [options]="lstValues" 
                                    placeholder="" 
                                    emptyMessage="Không có dữ liệu."
                                    [showClear]="true" 
                                    formControlName="value"
                                   >
                                </p-dropdown>
                            </div>
                        </div> -->
                        <div class="col-6">
                            <div class="field p-fluid">
                                <label for="txtNameContacts">value</label>
                                    <p-multiSelect
                                        [options]="lstValues"
                                        [showClear]="true"
                                        placeholder="Chọn value"
                                        emptyMessage="Không có dữ liệu."
                                        [(ngModel)]="valueUsernotDid"
                                        [ngModelOptions]="{ standalone: true }"
                                    ></p-multiSelect>
                            </div>
                        </div>
                    </form>
                </form>
                <!--what-->
                <div class="col-12"><h4>What</h4></div>
                <form class="grid formgrid col-12"  formGroupName="what">
                <div class="col-6">
                    <div class="field p-fluid">
                        <label for="txtCode">title</label>
                        <input id="txtCode" type="text" pInputText formControlName="title" class="p-invalid">
                    </div>
                </div>
                <div class="col-6">
                    <div class="field p-fluid">
                        <label for="txtCode">message</label>
                        <input id="txtCode" type="text" pInputText formControlName="message" class="p-invalid">
                    </div>
                </div>
                <div class="col-6" *ngIf="fCampaign.get('channel')?.value === 'PUSH'">
                    <div class="field p-fluid">
                        <label for="txtCode">timeToLive</label>
                        <input id="txtCode" type="number" pInputText  formControlName="timeToLive"  class="p-invalid">
                    </div>
                </div>
                <div class="col-6" *ngIf="fCampaign.get('channel')?.value === 'PUSH' || fCampaign.get('channel')?.value === 'INAPP'">
                    <div class="field p-fluid">
                        <label for="txtCode">imageUrl</label>
                        <input id="txtCode" type="text" pInputText formControlName="imageUrl" class="p-invalid">
                    </div>
                </div>
                <div class="col-6" *ngIf="fCampaign.get('channel')?.value === 'PUSH'">
                    <div class="field p-fluid">
                        <label for="txtCode">iconUrl</label>
                        <input id="txtCode" type="text" pInputText formControlName="iconUrl" class="p-invalid">
                    </div>
                </div>
                <div class="col-6" *ngIf="fCampaign.get('channel')?.value === 'PUSH'">
                    <div class="field p-fluid">
                        <label for="txtCode">background</label>
                        <input id="txtCode" type="text" pInputText formControlName="background" class="p-invalid">
                    </div>
                </div>
                <!-- <div class="col-6">
                    <div formGroupName="customKeyValue">
                        <div class="col-6">
                          <div class="field p-fluid">
                            <label for="txtCode">Custom Key Value</label>
                            <input id="txtCode" type="text" pInputText formControlName="value" class="p-invalid">
                          </div>
                        </div>
                      </div>
                </div> -->
                <div class="col-6" *ngIf="fCampaign.get('channel')?.value === 'PUSH' || fCampaign.get('channel')?.value === 'INAPP'">
                    <div class="field p-fluid">
                        <label for="txtNameContacts">Chọn giá trị</label>
                            <p-dropdown 
                                [options]="lstValue"
                                [showClear]="true"
                                placeholder="Chọn giá trị"
                                emptyMessage="Không có dữ liệu."
                                [(ngModel)]="slideValue"
                                optionValue="value"
                                optionLabel="Name"
                                [ngModelOptions]="{ standalone: true }"
                            ></p-dropdown>
                    </div>
                </div>
                <div class="col-6" *ngIf="fCampaign.get('channel')?.value === 'PUSH' || fCampaign.get('channel')?.value === 'INAPP'">
                    <div class="field p-fluid">
                        <label for="txtNameContacts">Nhập giá trị</label>
                        <span class="text-danger"></span>
                        <input id="txtNameContacts" type="text" pInputText formControlName="customKeyValue" >
                    </div>
                </div>
                <div class="col-6">
                    <div class="field p-fluid">
                        <label for="txtCode">deeplink</label>
                        <input id="txtCode" type="text" pInputText formControlName="deeplink"  class="p-invalid">
                    </div>
                </div>
                </form>
                <!--when-->
                <div class="col-12"><h4>When</h4></div>
                <form class="grid formgrid col-12"  formGroupName="when">
                    <div class="col-6" *ngIf="liveEventVisible">
                        <div class="field p-fluid">
                            <label for="txtCode">Check</label>
                            <input (click)="ChangeCheckbox()" class="form-check-input mg-l-2" type="checkbox" value="false" id="forAll">
                        </div>
                    </div>  
                <div class="col-6" *ngIf="fCampaign.get('qualification')?.value != 'LIVE_BEHAVIOR'"> 
                    <div class="field p-fluid">
                        <label for="txtWard">type</label>
                        <p-dropdown 
                            [options]="lstTypewhen" 
                            placeholder="typewhen" 
                            emptyMessage="Không có dữ liệu."
                            [showClear]="true" 
                            [(ngModel)]="typeWhen"
                            optionLabel="Name" 
                            optionValue="Name" 
                            formControlName="type" 
                            (onChange)="TypeWhen($event)">
                        </p-dropdown>
                    </div>
                </div>
                <div class="col-6" *ngIf="typeWhen == 'RECURRING'">
                    <div class="field p-fluid">
                        <label for="txtCode">repeat</label>
                        <input id="txtCode" type="text" pInputText formControlName="repeat"  class="p-invalid">
                    </div>
                </div>
                <div class="col-6" *ngIf="typeWhen == 'RECURRING' || liveEventVisible">
                    <div class="field p-fluid p-date">
                        <label for="txtBirthDay">endDate
                            <span class=""></span>
                        </label>
                        <p-calendar id="txtBirthDay" [showButtonBar]="true" [showIcon]="true" inputId="icon"  formControlName="endDate" [showTime]="true" [showSeconds]="true"  dateFormat="dd/mm/yy"></p-calendar>
                    </div>
                </div>
                <div class="col-6" *ngIf="fCampaign.get('qualification')?.value == 'LIVE_BEHAVIOR' && isCheck == true">
                    <div class="field p-fluid">
                        <label for="txtCode">Gửi nhiều lần</label>
                        <input id="txtCode" type="number" pInputText  formControlName="limit"  class="p-invalid">
                    </div>
                </div>
                <div class="col-6" *ngIf="fCampaign.get('qualification')?.value == 'LIVE_BEHAVIOR' && isCheck == true">
                    <div class="field p-fluid">
                        <label for="txtCode">Occurrence</label>
                        <input id="txtCode" type="number" pInputText  formControlName="occurrence"  class="p-invalid">
                    </div>
                </div>
                <!-- <div class="col-6" *ngIf="typeWhen == 'MULTIPLE_DATE'">
                    <div class="field p-fluid p-date">
                        <label for="txtBirthDay">startDates
                            <span class=""></span>
                        </label>
                        <p-calendar id="txtBirthDay" [showButtonBar]="true" [showIcon]="true" inputId="icon"  formControlName="startDates" [showTime]="true" [showSeconds]="true"  dateFormat="dd/mm/yy"></p-calendar>
                    </div>
                    <div class="col-12 mg-t-2">       
                        <button  (click)="addStartDate()" type="button" class="btn btn-warning mg-t-2">Thêm ngày bắt đầu</button>
                    </div>
                </div> -->
                <div class="col-6" *ngIf="(typeWhen == 'MULTIPLE_DATE'  && liveEventVisible == false) || (typeWhen == 'SPECIFIC_TIME' && liveEventVisible == false)">
                    <div class="field p-fluid p-date">
                      <label for="txtBirthDay">startDates
                        <span></span>
                      </label>
                      <p-calendar id="txtBirthDay" selectionMode="multiple" [showButtonBar]="true" [showIcon]="true" inputId="icon" [(ngModel)]="selectedDatesList" formControlName="startDates" [showTime]="true" [showSeconds]="true" dateFormat="dd/mm/yy"></p-calendar>
                    </div>
                </div>   
                </form>
                <!---->
                <!-- <div class="col-6">
                    <div class="field p-fluid">
                        <label for="txtWard">status</label>
                        <p-dropdown 
                            [options]="lstStatus" 
                            placeholder="Trạng thái" 
                            emptyMessage="Không có dữ liệu."
                            [showClear]="true" 
                            optionLabel="name" 
                            optionValue="name" 
                            formControlName="status">
                        </p-dropdown>
                    </div>
                </div> -->
                <div class="col-12 p_float_right">
                    <button pButton pRipple type="button" label="Quay lại" class="p-button-outlined p-button-secondary mr-2" (click)="onBack($event)">
                        <span class="pi pi-angle-left"></span>
                    </button>
                    <p-button label="Xác nhận" icon="pi pi-check" type="submit" [loading]="loading[0]" (onClick)="onSubmit()"></p-button>
                </div>
            </form>
        </div>
    </div>
</div>
<p-toast></p-toast>
<p-confirmDialog class="custom-toast"></p-confirmDialog>