<div class="grid">
    <div class="col-12">
        <div class="card">
            <h5>
                {{ itemProject ? 'Tạo chiến dịch' : 'Cập nhật chiến dịch' }}
            </h5>

            <form class="grid formgrid" [formGroup]="fCampaign">
                <div class="col-6">
                    <div class="field p-fluid">
                        <label for="txtWard">channel</label>
                        <p-dropdown 
                            [options]="lstChanel" 
                            placeholder="Chọn Channel" 
                            emptyMessage="Không có dữ liệu."
                            [showClear]="true" 
                            optionLabel="Name" 
                            optionValue="Name" 
                            formControlName="channel">
                        </p-dropdown>
                    </div>
                </div>
                <div class="col-6">
                    <div class="field p-fluid">
                        <label for="txtName">Tên chiến dịch
                            <span class="" style="color:red">*</span>
                        </label>
                        <input id="txtName" type="text" pInputText formControlName="name" class="p-invalid">
                        <small *ngIf="fCampaign.controls['name'].hasError('required') && fCampaign.controls['name'].dirty" class="p-invalid text-danger">Vui lòng nhập tên Campaign.</small>
                    </div>
                </div>
                <div class="col-6">
                    <div class="field p-fluid">
                        <label for="txtWard">Hành vi</label>
                        <p-dropdown 
                            [options]="lstQualification" 
                            placeholder="Loại qualification" 
                            emptyMessage="Không có dữ liệu."
                            [showClear]="true" 
                            optionLabel="Name" 
                            optionValue="Name" 
                            formControlName="qualification"
                            (onChange)="onQualificationChange($event.value)">>
                        </p-dropdown>
                    </div>
                </div>
                <div class="col-6">
                    <div class="field p-fluid">
                        <label for="txtCode">Chiến dịch hệ thống (Người dùng mới tự động được thêm vào)?</label>
                        <input formControlName="forAll" class="form-check-input mg-l-2" type="checkbox" value="false" id="forAll">
                    </div>
                </div>
                <!-- who -->
                <div class="col-12"><h4>Who</h4></div>
                <form class="grid formgrid col-12" formGroupName="who">
                    <form class="grid formgrid col-12" formGroupName="liveEvent" *ngIf="liveEventVisible">
                        <span class="col-12" style="font-weight: 600;color:rgb(0, 0, 4);font-size: 20px;">Đẩy chiến dịch ngay khi người dùng thực hiện event</span>
                        <div class="col-6">
                            <div class="field p-fluid">
                                <label for="txtWard">Tên sự kiện</label>
                                <p-dropdown 
                                    [options]="lstEventname" 
                                    placeholder="Select an event" 
                                    emptyMessage="No data available."
                                    [showClear]="true" 
                                    formControlName="eventName"
                                    (onChange)="getlistProperties($event.value)">
                                </p-dropdown>
                              </div>
                        </div>
                        <div class="col-6">
                            <div class="field p-fluid">
                                <label for="txtWard">Tên thuộc tính</label>
                                <p-dropdown 
                                    [options]="lstProperty" 
                                    placeholder="Select an event" 
                                    emptyMessage="No data available."
                                    [showClear]="true" 
                                    formControlName="eventProperty"
                                    (onChange)="getlistValues($event.value)"
                                   >
                                </p-dropdown>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="field p-fluid">
                                <label for="txtNameContacts">Giá trị thuộc tính</label>
                                    <p-multiSelect
                                        [options]="lstValues"
                                        [showClear]="true"
                                        placeholder="Chọn value"
                                        emptyMessage="Không có dữ liệu."
                                        [(ngModel)]="valueData"
                                        [ngModelOptions]="{ standalone: true }"
                                    ></p-multiSelect>
                            </div>
                        </div>
                        <!-- <div class="col-6">
                            <div class="field p-fluid">
                                <label for="txtWard">value</label>
                                <p-dropdown 
                                    [options]="lstValues" 
                                    placeholder="Select an event" 
                                    emptyMessage="No data available."
                                    [showClear]="true" 
                                    formControlName="value"
                                   >
                                </p-dropdown>
                            </div>
                        </div> -->
                    </form>
                    <div class="col-6">
                        <div class="field p-fluid">
                            <label for="txtCode">Lọc theo hành vi trong quá khứ</label>
                            <input formControlName="isAllUser" (change)="ChangeisAllUser()" class="form-check-input mg-l-2" type="checkbox" value="false" id="isAllUser">
                        </div>
                    </div>
                    <form class="grid formgrid col-12"  formGroupName="userDid" *ngIf="isAllUser==true">
                        <span class="col-12" style="font-weight: 600;color:rgb(10, 10, 10);font-size: 20px;">Lọc theo hành vi người dùng đã thực hiện</span>
                        <div class="col-6">
                            <div class="field p-fluid p-date">
                                <label for="txtBirthDay">Ngày bắt đầu
                                    <span class=""></span>
                                </label>
                                <p-calendar id="txtBirthDay" [showIcon]="true" [showButtonBar]="true" inputId="icon"  formControlName="startTime"  dateFormat="dd/mm/yy"></p-calendar>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="field p-fluid p-date">
                                <label for="txtBirthDay">Ngày kết thúc
                                    <span class=""></span>
                                </label>
                                <p-calendar id="txtBirthDay" [showIcon]="true" [showButtonBar]="true" inputId="icon"  formControlName="endTime"  dateFormat="dd/mm/yy"></p-calendar>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="field p-fluid">
                                <label for="txtWard">Tên sự kiện</label>
                                <p-dropdown 
                                    [options]="lstEventname" 
                                    placeholder="Select an event" 
                                    emptyMessage="No data available."
                                    [showClear]="true" 
                                    formControlName="eventName"
                                    (onChange)="getlistProperties($event.value)">
                                </p-dropdown>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="field p-fluid">
                                <label for="txtWard">Tên thuộc tính</label>
                                <p-dropdown 
                                    [options]="lstProperty" 
                                    placeholder="Select an event" 
                                    emptyMessage="No data available."
                                    [showClear]="true" 
                                    formControlName="eventProperty"
                                    (onChange)="getlistValues($event.value)"
                                   >
                                </p-dropdown>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="field p-fluid">
                                <label for="txtWard">Loại so sánh</label>
                                <p-dropdown 
                                    [options]="lstTypeCompareUser" 
                                    placeholder="" 
                                    emptyMessage="Không có dữ liệu."
                                    [showClear]="true" 
                                    optionLabel="Name" 
                                    optionValue="Name" 
                                    formControlName="typeCompare"
                                   >
                                </p-dropdown>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="field p-fluid">
                                <label for="txtNameContacts">Giá trị thuộc tính</label>
                                    <p-multiSelect
                                        [options]="lstValues"
                                        [showClear]="true"
                                        placeholder="Chọn value"
                                        emptyMessage="Không có dữ liệu."
                                        [(ngModel)]="valueUserDid"
                                        [ngModelOptions]="{ standalone: true }"
                                    ></p-multiSelect>
                            </div>
                        </div>
                        <!-- <div class="col-6">
                            <div class="field p-fluid">
                                <label for="txtWard">value</label>
                                <p-dropdown 
                                    [options]="lstValues" 
                                    placeholder="" 
                                    emptyMessage="Không có dữ liệu."
                                    [showClear]="true" 
                                    formControlName="value"
                                   >
                                </p-dropdown>
                            </div>
                        </div> -->
                        <div class="col-4">
                            <div class="field p-fluid">
                                <label for="txtWard">Điều kiện</label>
                                <p-dropdown 
                                    [options]="lstCount" 
                                    placeholder="" 
                                    emptyMessage="Không có dữ liệu."
                                    [showClear]="true" 
                                    optionLabel="name" 
                                    optionValue="name" 
                                    >
                                </p-dropdown>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="field p-fluid">
                                <label for="txtWard">Loại so sánh điều kiện</label>
                                <p-dropdown 
                                    [options]="lstTypeCondition" 
                                    placeholder="" 
                                    emptyMessage="Không có dữ liệu."
                                    [showClear]="true" 
                                    optionLabel="name" 
                                    optionValue="value" 
                                    formControlName="typeCondition"
                                    >
                                </p-dropdown>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="field p-fluid">
                                <label for="txtNameContacts">Nhập giá trị</label>
                                <span class="text-danger"></span>
                                <input id="txtNameContacts" type="number" pInputText formControlName="value" >
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="field p-fluid">
                                <label for="txtWard">Loại kết hợp giữa người dùng thực hiện và không thực hiện</label>
                                <p-dropdown 
                                    [options]="lstTypeCompare" 
                                    placeholder="" 
                                    emptyMessage="Không có dữ liệu."
                                    [showClear]="true" 
                                    optionLabel="Name" 
                                    optionValue="Name" 
                                    formControlName="typeCombine"
                                    >
                                </p-dropdown>
                            </div>
                        </div>
                    </form>
                    <form class="grid formgrid col-12" formGroupName="userNotDo" *ngIf="isAllUser==true">
                        <span class="col-12" style="font-weight: 600;color:rgb(0, 0, 0);font-size: 20px;">Người dùng không thực hiện sự kiện</span>
                        <div class="col-6">
                            <div class="field p-fluid p-date">
                                <label for="txtBirthDay">Ngày bắt đầu
                                    <span class=""></span>
                                </label>
                                <p-calendar id="txtBirthDay" [showButtonBar]="true" [showIcon]="true" inputId="icon"  formControlName="startTime"  dateFormat="dd/mm/yy"></p-calendar>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="field p-fluid p-date">
                                <label for="txtBirthDay">Ngày kết thúc
                                    <span class=""></span>
                                </label>
                                <p-calendar id="txtBirthDay" [showButtonBar]="true" [showIcon]="true" inputId="icon"  formControlName="endTime"  dateFormat="dd/mm/yy"></p-calendar>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="field p-fluid">
                                <label for="txtWard">Tên sự kiện</label>
                                <p-dropdown 
                                    [options]="lstEventname" 
                                    placeholder="" 
                                    emptyMessage="Không có dữ liệu."
                                    [showClear]="true" 
                                    formControlName="eventName"
                                    (onChange)="getlistProperties($event.value)">
                                </p-dropdown>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="field p-fluid">
                                <label for="txtWard">Tên thuộc tính</label>
                                <p-dropdown 
                                    [options]="lstProperty" 
                                    placeholder="" 
                                    emptyMessage="Không có dữ liệu."
                                    [showClear]="true" 
                                    formControlName="eventProperty"
                                    (onChange)="getlistValues($event.value)"
                                   >
                                </p-dropdown>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="field p-fluid">
                                <label for="txtWard">Loại so sánh</label>
                                <p-dropdown 
                                    [options]="lstTypeCompareUser" 
                                    placeholder="" 
                                    emptyMessage="Không có dữ liệu."
                                    [showClear]="true" 
                                    optionLabel="Name" 
                                    optionValue="Name" 
                                    formControlName="typeCompare"
                                   >
                                </p-dropdown>
                            </div>
                        </div>
                        <!-- <div class="col-6">
                            <div class="field p-fluid">
                                <label for="txtWard">value</label>
                                <p-dropdown 
                                    [options]="lstValues" 
                                    placeholder="" 
                                    emptyMessage="Không có dữ liệu."
                                    [showClear]="true" 
                                    formControlName="value"
                                   >
                                </p-dropdown>
                            </div>
                        </div> -->
                        <div class="col-6">
                            <div class="field p-fluid">
                                <label for="txtNameContacts">Giá trị thuộc tính</label>
                                    <p-multiSelect
                                        [options]="lstValues"
                                        [showClear]="true"
                                        placeholder="Chọn value"
                                        emptyMessage="Không có dữ liệu."
                                        [(ngModel)]="valueUsernotDid"
                                        [ngModelOptions]="{ standalone: true }"
                                    ></p-multiSelect>
                            </div>
                        </div>
                    </form>
                </form>
                <!--what-->
                <div class="col-12"><h4>What</h4></div>
                <form class="grid formgrid col-12"  formGroupName="what">
                <div class="col-6">
                    <div class="field p-fluid">
                        <label for="txtCode">Tiêu đề</label>
                        <input id="txtCode" type="text" pInputText formControlName="title" class="p-invalid">
                    </div>
                </div>
                <div class="col-6">
                    <div class="field p-fluid">
                        <label for="txtCode">Nội dung</label>
                        <input id="txtCode" type="text" pInputText formControlName="message" class="p-invalid">
                    </div>
                </div>
                <div class="col-6" *ngIf="fCampaign.get('channel')?.value === 'PUSH'">
                    <div class="field p-fluid">
                        <label for="txtCode">Thời gian tồn tại</label>
                        <input id="txtCode" type="number" pInputText  formControlName="timeToLive"  class="p-invalid">
                    </div>
                </div>
                <!-- <div class="col-3" *ngIf="fCampaign.get('channel')?.value === 'PUSH' || fCampaign.get('channel')?.value === 'INAPP'">
                    <label for="txtImage" class="form-label">Upload</label>
                    <div class="displayflex">
                        <div class="col-6">
                            <input
                                formControlName="imageUrl"
                                class="form-control no-bor"
                                type="file"
                                accept="image/jpg || image/png || image/webp"
                                (change)="onimageUrl($event)"
                            />
                        </div>
                    </div>
                </div>
                <div class="col-3" *ngIf="fCampaign.get('channel')?.value === 'PUSH' || fCampaign.get('channel')?.value === 'INAPP'">
                    <div class="field p-fluid">
                        <label for="txtCode">imageUrl</label>
                        <input id="txtCode" type="text" pInputText formControlName="imageUrl" class="p-invalid">
                    </div>
                </div> -->
                <div class="col-3" *ngIf="fCampaign.get('channel')?.value === 'PUSH' || fCampaign.get('channel')?.value === 'INAPP'">
                    <label for="txtImage" class="form-label">Upload Image Url</label>
                    <div class="displayflex">
                      <div class="col-6">
                        <input
                          formControlName="imageUrl"
                          class="form-control no-bor"
                          type="file"
                          accept="image/jpg || image/png || image/webp"
                          (change)="onimageUrl($event)"
                        />
                      </div>
                    </div>
                  </div>
                  <div class="col-3" *ngIf="fCampaign.get('channel')?.value === 'PUSH' || fCampaign.get('channel')?.value === 'INAPP'">
                    <div class="field p-fluid">
                      <label for="txtCode">imageUrl</label>
                      <input id="txtCode" type="text" pInputText [value]="fCampaign.get('what.imageUrl')?.value" class="p-invalid">
                    </div>
                  </div>
                  <div class="col-3" *ngIf="fCampaign.get('channel')?.value === 'PUSH'">
                    <label for="txtImage" class="form-label">Upload Icon Url</label>
                    <div class="displayflex">
                      <div class="col-6">
                        <input
                          formControlName="iconUrl"
                          class="form-control no-bor"
                          type="file"
                          accept="image/jpg || image/png || image/webp"
                          (change)="oniconUrl($event)"
                        />
                      </div>
                    </div>
                  </div>
                  <div class="col-3" *ngIf="fCampaign.get('channel')?.value === 'PUSH'">
                    <div class="field p-fluid">
                      <label for="txtCode">iconUrl</label>
                      <input id="txtCode" type="text" pInputText [value]="fCampaign.get('what.iconUrl')?.value" class="p-invalid">
                    </div>
                  </div>
                  <div class="col-3" *ngIf="fCampaign.get('channel')?.value === 'PUSH'">
                    <label for="txtImage" class="form-label">Upload Image Background</label>
                    <div class="displayflex">
                      <div class="col-6">
                        <input
                          formControlName="iconUrl"
                          class="form-control no-bor"
                          type="file"
                          accept="image/jpg || image/png || image/webp"
                          (change)="onBackground($event)"
                        />
                      </div>
                    </div>
                  </div>
                  <div class="col-3" *ngIf="fCampaign.get('channel')?.value === 'PUSH'">
                    <div class="field p-fluid">
                      <label for="txtCode">Background</label>
                      <input id="txtCode" type="text" pInputText [value]="fCampaign.get('what.background')?.value" class="p-invalid">
                    </div>
                  </div>
                <!-- <div class="col-6" *ngIf="fCampaign.get('channel')?.value === 'PUSH'">
                    <div class="field p-fluid">
                        <label for="txtCode">iconUrl</label>
                        <input id="txtCode" type="text" pInputText formControlName="iconUrl" class="p-invalid">
                    </div>
                </div> -->
                <!-- <div class="col-6" *ngIf="fCampaign.get('channel')?.value === 'PUSH'">
                    <div class="field p-fluid">
                        <label for="txtCode">background</label>
                        <input id="txtCode" type="text" pInputText formControlName="background" class="p-invalid">
                    </div>
                </div> -->
                <!-- <div class="col-6">
                    <div formGroupName="customKeyValue">
                        <div class="col-6">
                          <div class="field p-fluid">
                            <label for="txtCode">Custom Key Value</label>
                            <input id="txtCode" type="text" pInputText formControlName="value" class="p-invalid">
                          </div>
                        </div>
                      </div>
                </div> -->
                <div class="col-6" *ngIf="fCampaign.get('channel')?.value === 'PUSH' || fCampaign.get('channel')?.value === 'INAPP'">
                    <div class="field p-fluid">
                        <label for="txtNameContacts">Cấu hình key</label>
                            <p-dropdown 
                                [options]="lstValue"
                                [showClear]="true"
                                placeholder="Chọn giá trị"
                                emptyMessage="Không có dữ liệu."
                                [(ngModel)]="slideValue"
                                optionValue="value"
                                optionLabel="Name"
                                [ngModelOptions]="{ standalone: true }"
                            ></p-dropdown>
                    </div>
                </div>
                <div class="col-6" *ngIf="fCampaign.get('channel')?.value === 'PUSH' || fCampaign.get('channel')?.value === 'INAPP'">
                    <div class="field p-fluid">
                        <label for="txtNameContacts">Cấu hình value</label>
                        <span class="text-danger"></span>
                        <input id="txtNameContacts" type="text" pInputText formControlName="customKeyValue" >
                    </div>
                </div>
                <div class="col-6">
                    <div class="field p-fluid">
                        <label for="txtCode">Deeplink</label>
                        <input id="txtCode" type="text" pInputText formControlName="deeplink"  class="p-invalid">
                    </div>
                </div>
                </form>
                <!--when-->
                <div class="col-12"><h4>When</h4></div>
                <form class="grid formgrid col-12"  formGroupName="when">
                    <div class="col-6" *ngIf="liveEventVisible">
                        <div class="field p-fluid">
                            <label for="txtCode">Nâng cao</label>
                            <input (click)="ChangeCheckbox()" class="form-check-input mg-l-2" type="checkbox" value="false" id="forAll">
                        </div>
                    </div>  
                <div class="col-6" *ngIf="fCampaign.get('qualification')?.value != 'LIVE_BEHAVIOR'"> 
                    <div class="field p-fluid">
                        <label for="txtWard">Cấu hình loại thời gian bắn</label>
                        <p-dropdown 
                            [options]="lstTypewhen" 
                            placeholder="typewhen" 
                            emptyMessage="Không có dữ liệu."
                            [showClear]="true" 
                            [(ngModel)]="typeWhen"
                            optionLabel="Name" 
                            optionValue="Name" 
                            formControlName="type" 
                            (onChange)="TypeWhen($event)">
                        </p-dropdown>
                    </div>
                </div>
                <div class="col-6" *ngIf="typeWhen == 'RECURRING'">
                    <div class="field p-fluid">
                        <label for="txtCode">Lặp lại sau (số ngày)</label>
                        <input id="txtCode" type="text" pInputText formControlName="repeat"  class="p-invalid">
                    </div>
                </div>
                <div class="col-6" *ngIf="typeWhen == 'RECURRING' || liveEventVisible">
                    <div class="field p-fluid p-date">
                        <label for="txtBirthDay">Ngày kết thúc
                            <span class=""></span>
                        </label>
                        <p-calendar id="txtBirthDay" [showButtonBar]="true" [showIcon]="true" inputId="icon"  formControlName="endDate" [showTime]="true" [showSeconds]="true"  dateFormat="dd/mm/yy"></p-calendar>
                    </div>
                </div>
                <div class="col-6" *ngIf="fCampaign.get('qualification')?.value == 'LIVE_BEHAVIOR' && isCheck == true">
                    <div class="field p-fluid">
                        <label for="txtCode">Giới hạn 2 lần cách nhau (phút)</label>
                        <input id="txtCode" type="number" pInputText  formControlName="limit"  class="p-invalid">
                    </div>
                </div>
                <div class="col-6" *ngIf="fCampaign.get('qualification')?.value == 'LIVE_BEHAVIOR' && isCheck == true">
                    <div class="field p-fluid">
                        <label for="txtCode">Số lần gửi tin cho một người tối đa của chiến dịch</label>
                        <input id="txtCode" type="number" pInputText  formControlName="occurrence"  class="p-invalid">
                    </div>
                </div>
                <!-- <div class="col-6" *ngIf="typeWhen == 'MULTIPLE_DATE'">
                    <div class="field p-fluid p-date">
                        <label for="txtBirthDay">startDates
                            <span class=""></span>
                        </label>
                        <p-calendar id="txtBirthDay" [showButtonBar]="true" [showIcon]="true" inputId="icon"  formControlName="startDates" [showTime]="true" [showSeconds]="true"  dateFormat="dd/mm/yy"></p-calendar>
                    </div>
                    <div class="col-12 mg-t-2">       
                        <button  (click)="addStartDate()" type="button" class="btn btn-warning mg-t-2">Thêm ngày bắt đầu</button>
                    </div>
                </div> -->
                <div class="col-6" *ngIf="(typeWhen == 'MULTIPLE_DATE'  && liveEventVisible == false) || (typeWhen == 'SPECIFIC_TIME' && liveEventVisible == false)">
                    <div class="field p-fluid p-date">
                      <label for="txtBirthDay">Chọn các ngày đẩy chiến dịch
                        <span></span>
                      </label>
                      <p-calendar id="txtBirthDay" selectionMode="multiple" [showButtonBar]="true" [showIcon]="true" inputId="icon" [(ngModel)]="selectedDatesList" formControlName="startDates" [showTime]="true" [showSeconds]="true" dateFormat="dd/mm/yy"></p-calendar>
                    </div>
                </div>   
                </form>
                <!---->
                <!-- <div class="col-6">
                    <div class="field p-fluid">
                        <label for="txtWard">status</label>
                        <p-dropdown 
                            [options]="lstStatus" 
                            placeholder="Trạng thái" 
                            emptyMessage="Không có dữ liệu."
                            [showClear]="true" 
                            optionLabel="name" 
                            optionValue="name" 
                            formControlName="status">
                        </p-dropdown>
                    </div>
                </div> -->
                <div class="col-12 p_float_right">
                    <button pButton pRipple type="button" label="Quay lại" class="p-button-outlined p-button-secondary mr-2" (click)="onBack($event)">
                        <span class="pi pi-angle-left"></span>
                    </button>
                    <p-button label="Xác nhận" icon="pi pi-check" type="submit" [loading]="loading[0]" (onClick)="onSubmit()"></p-button>
                </div>
            </form>
        </div>
    </div>
</div>
<p-toast></p-toast>
<p-confirmDialog class="custom-toast"></p-confirmDialog>