<div class="grid">
    <div class="col-12">
        <div class="card">
            <h5>
                {{ 'Xem chi tiết Campaign'  || 'null'}} 
            </h5>

            <form class="grid formgrid">
                <div class="col-6">
                    <label>Tên Campaign : {{dataCampaign.name || ''}}</label>
                </div>
                <div class="col-6">
                    <label>Qualification: {{dataCampaign.qualification || ''}}</label>
                </div>
                <div class="col-6">
                    <label>Chiến dịch hệ thống: {{dataCampaign.forAll || ''}}</label>
                </div>
                <div class="col-6">
                    <label>Status: {{dataCampaign.status || ''}}</label>
                </div>
                <div class="col-6">
                    <label>Channel: {{dataCampaign.channel || ''}}</label>
                </div>
                <div class="col-6" *ngIf="dataCampaign.startTime">
                    <label>Start Time: {{dataCampaign.startTime || ''}}</label>
                </div>
                <div class="col-6" *ngIf="dataCampaign.updateTime">
                    <label>Update Time: {{dataCampaign.updateTime || ''}}</label>
                </div>
                <div class="col-6">
                    <label>Create Time: {{dataCampaign.createTime ? (dataCampaign.createTime | date: 'yyyy-MM-dd HH:mm:ss') : 'null'}}</label>
                </div>
                <div class="col-12">
                    <h3>WHO</h3>
                </div>
                    <div class="col-12">
                        <h4>Gửi chiến dịch sau khi người dùng thực hiện</h4>
                    </div>
                        <div class="col-6" *ngIf="dataCampaign.who.liveEvent.eventName == undefined">
                            <label>Event Name: {{dataCampaign.who.liveEvent.eventName || 'null'}}</label>
                        </div>
                        <div class="col-6" *ngIf="dataCampaign.who.liveEvent.eventProperty == undefined">
                            <label>Event Property: {{dataCampaign.who.liveEvent.eventProperty || 'null'}}</label>
                        </div>
                        <div class="col-6" *ngIf="!dataCampaign.who.liveEvent.value || (dataCampaign.who.liveEvent.value.length === 0 || (dataCampaign.who.liveEvent.value.length === 1 && dataCampaign.who.liveEvent.value[0] === ''))"
                        >
                            <label>Value: {{convertArrToString(dataCampaign.who.liveEvent.value) || 'null'}}</label>
                        </div> 
                    <div class="col-12">
                        <h4>Người dùng đã thực hiện</h4>
                    </div>
                        <div class="col-6">
                            <label>Event Name: {{dataCampaign.who.userDid.eventName || ''}}</label>
                        </div>
                        <div class="col-6">
                            <label>Event Property: {{dataCampaign.who.userDid.eventProperty || ''}}</label>
                        </div>
                        <div class="col-6">
                            <label>Value: {{convertArrToString(dataCampaign.who.userDid.value) || ''}}</label>
                        </div> 
                        <div class="col-6">
                            <label>Event Property: {{dataCampaign.who.userDid.typeCompare || ''}}</label>
                        </div>
                        <div class="col-6">
                            <label>Type Condition: {{dataCampaign.who.userDid.typeCondition || ''}}</label>
                        </div>
                        <div class="col-6">
                            <label>Type Compare: {{dataCampaign.who.userDid.typeCompare || ''}}</label>
                        </div>
                        <div class="col-6">
                            <label>Count: {{dataCampaign.who.userDid.count || ''}}</label>
                        </div>
                        <div class="col-6">
                            <label>Start Time: {{dataCampaign.who.userDid.startTime || ''}}</label>
                        </div>
                        <div class="col-6">
                            <label>End Time: {{dataCampaign.who.userDid.endTime || ''}}</label>
                        </div>
                        <div class="col-12">
                            <h4>Người dùng không thực hiện</h4>
                        </div>
                            <div class="col-6" *ngIf="dataCampaign.who.userNotDo.eventName">
                                <label>Event Name: {{dataCampaign.who.userNotDo.eventName || ''}}</label>
                            </div>
                            <div class="col-6" *ngIf="dataCampaign.who.userNotDo.eventProperty">
                                <label>Event Property: {{dataCampaign.who.userNotDo.eventProperty || ''}}</label>
                            </div>
                            <div class="col-6" *ngIf="dataCampaign.who.userNotDo.value">
                                <label>Value: {{convertArrToString(dataCampaign.who.userNotDo.value) || ''}}</label>
                            </div> 
                            <!-- <div class="col-6">
                                <label>eventProperty: {{dataCampaign.who.userNotDo.typeCompare || 'null'}}</label>
                            </div> -->
                            <div class="col-6">
                                <label>Type Compare: {{dataCampaign.who.userNotDo.typeCompare || ''}}</label>
                            </div>
                            <div class="col-6" *ngIf="dataCampaign.who.userNotDo.startTime">
                                <label>Start Time: {{dataCampaign.who.userNotDo.startTime || 'null'}}</label>
                            </div>
                            <div class="col-6" *ngIf="dataCampaign.who.userNotDo.endTime">
                                <label>End Time: {{dataCampaign.who.userNotDo.endTime || 'null'}}</label>
                            </div>   
                <div class="col-12">
                    <h3>Nội dung tin nhắn chiến dịch</h3>
                </div> 
                    <div class="col-6">
                        <label>Title: {{dataCampaign.what.title || 'null'}}</label>
                    </div>   
                    <div class="col-6">
                        <label>Message: {{dataCampaign.what.message || 'null'}}</label>
                    </div>   
                    <div class="col-6">
                        <label>Time To Live: {{dataCampaign.what.timeToLive || 'null'}}</label>
                    </div>   
                    <div class="col-6">
                        <label>Image Url: {{dataCampaign.what.imageUrl || 'null'}}</label>
                        <img class="img-cam" src="{{dataCampaign.what.imageUrl}}" alt="" />
                    </div>   
                    <div class="col-6">
                        <label>Icon Url: {{dataCampaign.what.iconUrl || 'null'}}</label>
                        <img class="img-cam" src="{{dataCampaign.what.iconUrl }}" alt="" />

                    </div>         
                    <div class="col-6">
                        <label>Background: {{dataCampaign.what.background || 'null'}}</label>
                        <img class="img-cam" src="{{dataCampaign.what.background}}" alt="" />
                    </div>   
                    <div class="col-6">
                        <label>Deeplink: {{dataCampaign.what.deeplink || 'null'}}</label>
                    </div>   
                    <div class="col-6">
                        <label>Custom Key-Value: {{convertObjectToString(dataCampaign.what.customKeyValue) || 'null'}}</label>
                    </div> 
                <div class="col-12">
                    <h3>Cấu hình thời gian gửi chiến dịch</h3>
                </div>      
                    <div class="col-6">
                        <label>Type: {{dataCampaign.when.type || 'null'}}</label>
                    </div> 
                    <div class="col-6" *ngIf="dataCampaign.when.startDates">
                        <label>StartDates: {{convertArrToString(dataCampaign.when.startDates) || 'null'}}</label>
                    </div> 
                    <div class="col-6" *ngIf="dataCampaign.when.repeat">
                        <label>Repeat: {{dataCampaign.when.repeat || 'null'}}</label>
                    </div> 
                    <div class="col-6">
                        <label>Limit: {{dataCampaign.when.limit || 'null'}}</label>
                    </div> 
                    <div class="col-6" *ngIf="dataCampaign.when.endDate">
                        <label>End Date: {{dataCampaign.when.endDate || 'null'}}</label>
                    </div> 
                    <div class="col-12 p_float_right">
                        <button pButton pRipple type="button" label="Quay lại" class="p-button-outlined p-button-secondary mr-2" (click)="onBack()">
                            <span class="pi pi-angle-left"></span>
                        </button>
                    </div>
            </form>        
        </div>
    </div>
</div>