<div class="grid">
    <div class="col-12">
        <div class="card">
            <h5>Danh sách Sản phẩm</h5>
            <section class="FilterProject">
                <div class="textFilterProj">
                    <div class="addProjectList">
                        <a href="#/manager-product/product/create" class="mg-l-9"><i class="fa fa-plus-circle"
                            aria-hidden="true"></i> Thêm mới</a>
                    </div>
                </div>
            </section>
            <p-table 
                [value]="lstProduct"
                [paginator]="true"
                [rows]="filterParrams.size"
                [showCurrentPageReport]="true"
                [tableStyle]="{ 'min-width': '50rem' }"
                currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                [rowsPerPageOptions]="[10, 25, 50]">
                <ng-template pTemplate="header">
                    <tr>
                        <th style="width: 5%">Stt</th>
                        <th style="width: 20%">Tên sản phẩm</th>
                        <th style="width: 20%">Mô tả</th>
                        <th style="width: 20%">Ảnh thumb</th>
                        <th style="width: 10%">Giá sản phẩm</th>
                        <th style="width: 10%">Xuất xứ</th>
                        <th style="width: 15%">Thao tác</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-product let-rowIndex="rowIndex">
                    <tr>
                        <td>{{ rowIndex + 1 }}</td>
                        <td>{{ product.name }}</td>
                        <td>{{ product.description }}</td>
                        <td><img class="img-cate" src="{{ product.productThumb }}" alt="" /></td>
                        <td>{{ product.showedPrice}}</td>
                        <td>{{ getAttributeString(product.attributes) }}</td>
                        <td>
                            <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2" routerLink="/manager-product/product/upload/{{product.id}}"></button>
                            <button pButton pRipple icon="pi pi-unlock" class="p-button-rounded p-button-success mr-2" (click)="activePromotion(product.id)"></button>
                            <button pButton pRipple icon="pi pi-lock" class="p-button-rounded  mr-2" (click)="deadactivePromotion(product.id)"></button>
                            <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning" (click)="onDelete(product)"></button>
                        </td>
                    </tr>
                </ng-template>
                <!-- <ng-template pTemplate="paginatorleft">
                    <p-button type="button" icon="pi pi-plus" styleClass="p-button-text"></p-button>
                </ng-template>
                <ng-template pTemplate="paginatorright">
                    <p-button type="button" icon="pi pi-cloud" styleClass="p-button-text"></p-button>
                </ng-template> -->
                <ng-template pTemplate="emptymessage">
                    <tr>
                        <td colspan="7">No customers found.</td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>
</div>
<p-toast></p-toast>
<p-confirmDialog class="custom-toast"></p-confirmDialog>
